# ----------------------------------
# Python
# ----------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# ----------------------------------
# IDE
# ----------------------------------
.vscode/
.idea/

# ----------------------------------
# macOS
# ----------------------------------
.DS_Store

# ----------------------------------
# Windows
# ----------------------------------
Thumbs.db

# ----------------------------------
# Reports
# ----------------------------------
reports/*
!reports/.gitkeep

# ----------------------------------
# Logs
# ----------------------------------
logs/*
!logs/.gitkeep

# ----------------------------------
# Input Files
# ----------------------------------
input/*
!input/.gitkeep

# ----------------------------------
# Temporary Files
# ----------------------------------
*.tmp
*.bak
*.log